.login{
    width:40vw;
    margin: 100px auto;
       display: grid;
    place-items: center;
}

     /* display: flex;
    justify-content: center; Horizontal centering
    align-items: center; Vertical centering */
.login input {
    width: 90%;
    height: 30px;
    margin: 10px 0px;
}

.login h2{
    font-size: 55px;
    margin: 0px;
    text-align: center;
}
.login button{
    margin: 10px;
      font-size: 18px;
  width:300px;
  height: 60px;
  background-color: white;
}

.login button:not(.blue):not(.orange) {
    color: #E3A72F;
    box-shadow: 5px 6px #E8DEF8;
}

.blue{
    color:#058789;
     box-shadow:5px 6px #E8DEF8;
}

.orange{
    color:#D54B1A;
     box-shadow:5px 6px #E8DEF8;
}

.yellow{
    color: #E3A72F;
     box-shadow:5px 6px #E8DEF8;
}

/* .login div{
    margin-left: 220px;
} */
