#modal-content:has(.login){
    /* background-color: #F8F3FF; */
    width: 65%;
    min-height: 75vh;
    max-height: 95vh;
            box-shadow: 7px 9px #350079;
}

.login{
    width:500px;
    margin: 10% auto;
       display: grid;
    place-items: center;

}

     /* display: flex;
    justify-content: center; Horizontal centering
    align-items: center; Vertical centering */
.login input {
    width: 85%;
    height: 30px;
    margin: 1em 0;
        box-shadow: 5px 6px #350079;
     border: 1px solid  #E8DEF8;
        font-size: 1em;
}

.login input::placeholder{
        color: #CDAEFF
}

.login input:focus {
    outline: 2px solid  #CDAEFF
}


.login h2{
    font-size: 2.5em;
    margin: 0px;
    text-align: center;
    color: #350079;
}
.login button{
    margin: 1em auto;
      font-size: 1.2em;
  width:80%;
  height: 3em;
  background-color: white;
  display: block;
}

.login button:not(.blue):not(.orange) {
    color: #E3A72F;
    box-shadow: 5px 6px #058789;
}

.blue{
    color:#058789;
     box-shadow:5px 6px #D54B1A;
}

.orange{
    color:#D54B1A;
     box-shadow:5px 6px#E3A72F;
}

.yellow{
    color: #E3A72F;
     box-shadow:5px 6px #058789;
}

/* .login div{
    margin-left: 220px;
} */
