.create-routine-container{
    height: 80vh;
      display: flex;
  flex-direction: column;
align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 90%;
}

form{
    width: 80%;
    margin: auto;
margin: 5% 10%;
flex-grow: 1;
}



.selected{
    /* color: #E3A72F; */
     box-shadow:5px 6px #058789 !important;
}
.suggested{
    max-height:50vh;
    overflow-y: auto;
}

.suggested-habit-button {
  padding: 8px 12px;
  margin: 5px;
  font-size: 16px;
  font-family: Jost
}

.suggested-habit-button.selected::before{
  content: "-";
}

.suggested-habit-button::before {
  content: "+";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.char-count {
  font-size: 12px;
  color: #888;
}

.char-count-red {
  font-size: 12px;
  color: red;
}

.covers-imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  max-width: 100%;
  max-height: 80%;
  margin: 10px;
  /* one row if on mobile: */
  @media (max-width: 768px) {
    flex-direction: row;
    overflow-x: auto;
  }
}
.covers img {
  max-width: 100%;
  height: 125px;
    width: 30%;
  border-radius: 20px;
  object-fit: cover;
    cursor:pointer;
}

.covers input{
  width: 95%;
  margin: auto;
}

.step-container{
  margin-bottom: 120px;
}

.button-container{
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
    /* position:relative; */
}

.button-container-bottom {
    position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin:50px;
  padding:20px;
}

.habitss{
    max-height:60vh;
    overflow-y: auto;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.start-button-container{
  position: absolute;
  /* bottom: 0 ;
  left: 0;
  right: 0; */
    /* margin:50px; */
      display: flex;
  justify-content: space-evenly;
}

.help{
height: 200px;
width: 200px;
}

.go{
height: 200px;
width: 200px;
}

.topics-container{
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.topics-container button{
flex-basis: 20%;
margin: 1%;
  padding: 0;
  position: relative;
  overflow: hidden;
  border: none;
  background: none;
  cursor: pointer;
}
.topics-container img{
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
}

.top-topic-container{
    display: flex;
align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 90%;
}

  .top-topic-container button{
flex-basis: 30%;
margin: 1%;
  padding: 0;
  position: relative;
  overflow: hidden;
  border: none;
  background: none;
  cursor: pointer;
}
.top-topic-container button.selected {
 box-shadow:5px 6px #058789;
}
.top-topic-container img{
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
}
