
#modal-content:has(.create-routine-container){
            box-shadow: 7px 9px #350079;
}

.create-routine-container{
    max-height: 95vh;
      display: flex;
  flex-direction: column;
align-items: center;
  /* justify-content: center; */
  margin: 0 auto;
  max-width: 95%;
  overflow-y: scroll;
}


@media (max-width: 1400px) {
  .create-routine-container {
  height: 90vh;
  }
}

@media (min-width: 1401px) {
  .create-routine-container {
    height: 85vh;
  }
}


/* reused lotssssssss of places */
.selected{
    /* color: #E3A72F; */
     box-shadow:5px 6px #058789 !important;
}

.char-count {
  font-size: 12px;
  color: #888;
}

.char-count-red {
  font-size: 12px;
  color: red;
}

/* general h2/h3 rules */

.create-routine-container h2{
  font-size: 2.8em;
  text-align: center;
}

.create-routine-container h2:not(.newyou){
  margin: 10px;
}

.create-routine-container h3{
  margin:0 0 .5em 0;
  font-size: 1.8em;
    text-align: center;
}

.create-routine-container h5{
    font-size: 1.3em;
    text-align: center;
    margin: .7em 0 .2em 0;
}

@media (min-width: 1424px) {
    .create-routine-container h2 {
    font-size: 4em;
  }
  .create-routine-container h3 {
    font-size: 2.5em;
  }
  .create-routine-container h5{
    font-size: 1.8em;
    text-align: center;
    margin: 1em 0 .4em 0;
}
  .create-routine-container p{
    font-size:1.3em;
  }
}

@media (max-width: 1423px) {
  .create-routine-container h3 {
    font-size: 2em;
  }
}

@media (max-width: 1423px) {
  .create-routine-container h3 {
    font-size: 1.8em;
  }
}

@media (max-width: 1024px) {
  .create-routine-container h3 {
    font-size: 1.4em;
  }
}
@media (max-width: 768px) {
  .create-routine-container h3 {
    font-size: 1.2em;
  }
}
@media (max-width: 480px) {
  .create-routine-container h3 {
    font-size: 1em;
  }
}


form{
    width: 85%;
    margin: auto;
margin: 5% 10%;
}

.step-container{
  margin-bottom: 120px;
  padding-bottom: 120px;
  max-height: 90%;
  overflow-y:scroll;
    /* justify-content: center; */
}

.button-container{
  display: flex;
  justify-content: space-between;
      z-index: 2;
      max-height:10%;
}

.button-container-bottom {
    position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin:40px;
  padding:20px;
  z-index: 2;
}

/* step 1 */
.start input{
  width: 95%;
    height: 30px;
        box-shadow: 5px 6px #350079;
     border: 1px solid  #E8DEF8;
}

 @media (max-width: 1400px) {
  .start input{
    margin: 1em auto;
        font-size: 1em;
}
}
@media (min-width: 1401px) {
  .newyou{
margin:80px 10px 10px 10px;
text-align: center;
}
  .start input{
    margin: 1.3em auto;
        font-size: 1.3em;
}
 }

 @media (max-width: 1401px) {
  .newyou{
margin:25px 10px 10px 10px;
text-align: center;
}
  .start input{
    margin: 1.3em auto;
        font-size: 1.3em;
}
 }

.start input:focus {
    outline: 2px solid  #CDAEFF;
}
.start button{
    margin: 1em auto;
    background-color: white;
    box-shadow:  5px 6px#350079;
    max-width: 100%;
  max-height: 100%;
  width: 45%;
  height: 80%;
  display:flex;
  flex-direction: column;
 align-items: center;
 padding: 1.3em 0 2em 0;
}

.start p{
  margin:5px;
}

.start button:hover{
    box-shadow:  5px 6px#CDAEFF
}
.start-button-container{
         display: flex;
        justify-content: center;
    align-items: center;
}
.go img{  /* this has to be here because this icon is smaller than the .help icon for visual balance */
  margin: 9px 0;
}


/* step 2 */
.topics-container{
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.topics-container button{
flex-basis: 20%;
margin: 1%;
  padding: 0;
  position: relative;
  overflow: hidden;
  border: none;
  background: none;
  cursor: pointer;
}
.topics-container img{
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
}

/* step 3 */
.top-topic-container{
    display: flex;
    flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 90%;
}

.bigtopic-tiles {
  display: flex;
  margin-top: 5%;
 flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.big-topic-button{
  width:30%;
  border-radius: 8px;
    flex: 0 0 30%;
    margin: 1%;
  padding: 0;
  position: relative;
  overflow: hidden;
  border: none;
  background: none;
  cursor: pointer;
}

.top-topic-container img{
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

/* step 4 */
.suggested-container h3{
  font-size:1.35em;
}
.suggested{
    max-height:40vh;
    overflow-y: auto;
        display: inline-block;
        text-align:center;
}

.suggested-habit-button {
  padding: 8px 12px;
  margin: 5px;
  font-size: .9em;
  font-family: Jost
}

.suggested-habit-button.selected::before{
  content: "-";
}

.suggested-habit-button::before {
  content: "+";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

/* step 5 "own your habits" page */
.habitss{
    max-height:55vh;
    overflow-y: auto;
}
.existing{
    max-height:36vh;
    overflow-y: auto;
}
.newhabit{
       display: flex;
        /* justify-content: center; */
    /* align-items: center; */
    /* those mfs ^ did nothing */
    background-color: white;
    color: #E3A72F;
       box-shadow:  5px 6px #058789;
       font-size: 1.5em;
       margin: 10px auto;
       cursor: pointer;
z-index:3
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
 background-color: #EFEFEF;
 border-radius: 25px;
text-align: center;
margin-bottom: 10px;
}
.deletebutt{
  margin-left: 1.5em;
}
.row p{
margin-left: 2em;
}

.category{
   background-color: white;
 border-radius: 25px;
 padding: .2em 1em;
 margin-left:2em;
}

.editbutt{
  display: flex;
  flex-direction: row;
  margin-right: 1.5em;
}
.editdeletebutt button{
 margin: 3px;
}

/* step 6 edit habit (and step 7 write habit uses same css) */
.write-edit-habit{
  display:flex;
  flex-direction:column;
  max-height: 80%
}

/* .write-edit-habit h3{
  font-size: 1.35em;
} */

.write-edit-habit textarea {
    resize: none;
    height: 3vh;
        border-radius: 15px;
             border: 1px solid  #E8DEF8;
    padding: 2em;
    font-family: Jost, Futura, Helvetica, Arial, sans-serif;
    font-size: 1em;
    margin-bottom: .5em;
}

.write-edit-habit textarea:focus {
outline: 2px solid  #CDAEFF;
}

.silly{
  margin-bottom: 1em;
}

/* .write-edit-habit select{
text-align: center;
        border-radius: 10px;
        font-family: Jost, Futura, Helvetica, Arial, sans-serif;
            font-size: 1em;
            padding:5px;
        margin-top: 1.5em;
}

.write-edit-habit select option{
text-align: center;
        font-family: Jost, Futura, Helvetica, Arial, sans-serif;
            font-size: 1em;
} */

.custom-dropdown {
  position: relative;
  display: inline-block;
      text-align: center;
}

.selected-option{
    text-align: center;
        border-radius: 10px;
             border: 1px solid  #E8DEF8;
        font-family: Jost, Futura, Helvetica, Arial, sans-serif;
            font-size: 1em;
            padding:5px;
            cursor:pointer
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
          border: 1px solid  #E8DEF8;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: white;
  z-index: 4;
}

.options div {
  padding: 5px;
  cursor: pointer;
}

.commit{
       display: flex;
    background-color: white;
    color: #E3A72F;
       box-shadow:  5px 6px #058789;
       font-size: 1.5em;
       margin: 3em auto 120px auto;
       z-index: 3;
}

/* step 8 */
.covers-imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  max-width: 100%;
  max-height: 80%;
  margin: 10px;
  /* one row if on mobile: */
  @media (max-width: 768px) {
    flex-direction: row;
    overflow-x: auto;
  }
}
.covers img {
  max-width: 100%;
  height: 125px;
    width: 30%;
  border-radius: 20px;
  object-fit: cover;
    cursor:pointer;
}

.covers input{
  width: 95%;
  margin: auto;
}
