.create-routine-container{
    height: 80vh
}
.suggested{
    max-height:60vh;
    overflow-y: auto;
}

.suggested-habit-button {
  padding: 8px 12px;
  margin: 5px;
  font-size: 16px;
}

.suggested-habit-button.selected::before{
  content: "-";
}

.suggested-habit-button::before {
  content: "+";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
