/* TODO Add site wide styles */
body{
    margin: 0
}
footer{
  margin-top: 10px;
}
footer img {
  max-width: 100%;
  height: auto;
}
button{
        cursor: pointer;
          border-radius: 20px;
          border:none;
                    font-family:  bobbyJones, Animatic SC, Helvetica cursive;
                    font-size: 18px;
                    padding: 5px 15px;
}

@font-face {
  font-family: bobbyJones;
    src: url('./font/BobbyJonesSoft.woff2') format("woff2");
  /* src: url('./font/BobbyJonesSoft.otf') format("opentype"); */
  /* font-weight: 300 800; */
  font-style: normal;
}

input {
font-family: Jost, Futura, Helvetica, Arial, sans-serif;
border-radius:20px;
padding: 5px 20px;
}

h1{
  font-family: Jost, Futura, Helvetica, Arial, sans-serif;
}

h2{
  font-family: bobbyJones, Animatic SC, Helvetica cursive;
}


h4{
  font-family: Jost, Futura, Helvetica, Arial, sans-serif;
}

li{
  font-family: bobbyJones, Animatic SC, Helvetica cursive;
}

p{
   font-family: Jost, Futura, Helvetica, Arial, sans-serif;
}
div{
   font-family: Jost, Futura, Helvetica, Arial, sans-serif;
}
