/* TODO Add site wide styles */
body{
    margin: 0
}
button{
        cursor: pointer;
          border-radius: 20px;
          border:none;
                    font-family:  bobbyJones, Animatic SC, Helvetica cursive;
                    font-size: 18px;
}

@font-face {
  font-family: bobbyJones;
  src: url('./font/BobbyJonesSoft.otf') format("opentype");
  /* font-weight: 300 800; */
  font-style: normal;
}

h1{
  font-family: Jost, Futura, Helvetica, Arial, sans-serif;
}

h2{
  font-family: bobbyJones, Animatic SC, Helvetica cursive;
}


h4{
  font-family: Jost, Futura, Helvetica, Arial, sans-serif;
}

li{
  font-family: bobbyJones, Animatic SC, Helvetica cursive;
}

p{
   font-family: Jost, Futura, Helvetica, Arial, sans-serif;
}
div{
   font-family: Jost, Futura, Helvetica, Arial, sans-serif;
}
