#modal-content:has(.post-form-container){
    /* background-color: #F8F3FF; */
    width: 50%;
    /* min-height: 55vh;
    max-height: 75vh; */
            box-shadow: 7px 9px #350079;
}
.post-form-container{
      flex-direction: column;
         display: flex;
        justify-content: center;
    align-items: center;
    margin: 3em;
    height:fit-content
}

.writing-container{
    grid-area: wc;
     display: flex;
     flex-direction:column;
    /* align-items: flex-start; */
}

.writing-container textarea {
    align-self: flex-start;
    height: 70%;
    width: 70%;
    resize: none;
        border-radius: 20px;
    padding: 2em;
    font-family: Jost, Futura, Helvetica, Arial, sans-serif;
    font-size: 1em;
}

.valid{
 margin-top: 1em;
}

.post-image-container{
        grid-area: pi;
}

.upload-pic-button{
            grid-area: up;
}

.kill{
    margin-left: 1em;
}
/*
.snapshot{
    height:220px;
} */

.post-grid{
    display: grid;
grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "wc wc wc pi pi"
    "wc wc wc pi pi"
    "wc wc wc up up";
}

@media (max-width: 1375px) {
    .post-form-container{
       max-height: 80%;
                overflow-y: overlay;
    }
.post-grid{
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.writing-container{
        width: 70%;
margin:auto;
}
.writing-container textarea {
    width: 70%;
    resize: none;
        border-radius: 20px;
        margin:auto;
}
.buttonssss{
        display:flex;
    margin: auto;
            justify-content:center;
}
.post-grid p {
       max-width: 70%;
        text-align: center;
        margin:20px auto 0 auto
}
}

@media (max-width: 620px) {
#modal-content:has(.post-form-container){
    width: 90%;
}
}
.share-button button{
    margin: 1em auto;
font-size: 1.5em;
  background-color: white;
  display: block;
     box-shadow:5px 6px #D54B1A;
}
