.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.white-logo{
  height:150px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #680416;
}
/* li{
  margin: 5px;
} */
