.happy-user{
    position: absolute;
  background: none;
  border: none;
  right: 10px;
  top: 15px;
  /* font-size: 2rem; */
  cursor: pointer;
    width: 100px;
}

.profile-dropdown {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 70px;
  right: 10px;
  background-color: white;
   box-shadow:6px 8px #F8F3FF;
  border-radius: 5px;
  padding: 10px;
  list-style: none;
  z-index: 5;
  text-align: center;
}

.profile-dropdown.hidden {
  display: none;
}

.profile-dropdown li{
  margin:5px 17px 5px 20px;
}

.profile-dropdown a {
  text-decoration: none;
  /* color: */
}

.name{
color:  #461f51;
}
.logout-button {
  margin-top: 5px;
  cursor: pointer;
  background-color: white;
  color: #CDAEFF;
  box-shadow: 4px 5px  #461f51;
  font-size: 15px;
  padding: 6px 10px;
}

.blue-text{
    color:#058789;
     /* box-shadow:5px 6px #D54B1A; */
}

.orange-text{
    color:#D54B1A;
     /* box-shadow:5px 6px#E3A72F; */
}

.yellow-text{
    color: #E3A72F;
     /* box-shadow:5px 6px #058789; */
}
