.habittext p{
       /* display: flex;
        justify-content: center;
    align-items: center; */
    margin-left:6%;
}
/* .habittext h3{
       display: flex;
        justify-content: center;
    align-items: center;
} */

.routine-section h1{
    font-size: 2em;
}
