.habittext p{
       /* display: flex;
        justify-content: center;
    align-items: center; */
    margin-left:6%;
}
/* .habittext h3{
       display: flex;
        justify-content: center;
    align-items: center;
} */
