.wave-1{
/* background-image: url( '52.svg' ); */
width: 100vw;
padding:0;
margin: 0;
}

.slogan{
    margin: 45px 85px 0px 85px;
}

.slogan h1 {
  /* font-family: 'Jost', Futura, Helvetica, Arial, sans-serif; */
  font-size:55px;
    margin: 10px 0px 0px 0px;
}

.slogan h4 {
  /* font-family: 'Jost', Futura, Helvetica, Arial, sans-serif; */
    font-size:25px;
        margin: 30px 0px 0px 0px;
}
