#modal-content:has(.checkin-form-container){
    height:75vh;
            box-shadow: 7px 9px #350079;
                min-width:70vw;
    max-width: 90vw;
}


.checkin-form-container{
  padding: 3% 6%;
 /* perspective: 1000px; */
    display: flex;
    flex-direction: column;
     height:75vh;
           min-width:65vw;
}


/* general h2/button font rules */
.checkin-form-container h2{
  font-size: 2.5em;
  text-align: center;
}


@media (min-width: 1424px) {
    .checkin-form-container h2 {
    font-size: 3.8em;
  }
  /* .checkin-form-container button {
    font-size: em;
  } */
}

@media (max-width: 1423px) {
    .checkin-form-container h2 {
    font-size: 3em;
  }
  /* .checkin-form-container button {
    font-size: 2em;
  } */
}

@media (max-width: 1024px) {
    .checkin-form-container h2 {
    font-size: 1.4em;
  }
  .checkin-form-container button {
    font-size: 1em;
  }
}
@media (max-width: 768px) {
    .checkin-form-container h2 {
    font-size: 1em;
  }
  .checkin-form-container button {
    font-size: .8em;
  }
}
@media (max-width: 480px) {
     .checkin-form-container h2 {
    font-size: .8em;
  }
  .checkin-form-container button {
    font-size: .4em;
  }
}

/* carousel/card container */
.checkin-steps-container{
  width: 170px;
  height: 220px;
  position: relative;
    margin: 40px auto;
  perspective: 1000px;
}

/* carousel */
.carousel {
    width: 100%;
  height: 100%;
  position:absolute;
  transform-style: preserve-3d;
}

/* card */
.checkin-step {
  position: absolute;
  width: 150px;
  height: 200px;
  left: 10px;
  top: 10px;
  border: 1px solid #E8DEF8;
  border-radius: 20px;
  background-color:#F8F3FF;
  transition: transform 1s ease, opacity 0.8s ease;
  opacity: 0.6;
  z-index:2;
  box-shadow: 7px 9px  #CDAEFF;
}

.checkin-step.current {
  z-index: 5;
  opacity: 1;
    border: 1px solid #E8DEF8;
  background-color:#F8F3FF;
    box-shadow: 7px 9px #350079;
}



.desc{
  height: 100px;
        display: flex;
        justify-content: center;
    align-items: center;
    text-align:center;
     overflow-wrap: break-word;
  max-width: 15ch;
  margin:auto;
}

.desc p{
  font-size:.8em;
}

.checkin-options{
        display: flex;
          flex-direction: column;
            height: 70px;
            padding: 4%
}

.checkin-options button{
          margin: 3%;
          background-color: #E8DEF8;
}

.sub{
        display: flex;
        justify-content: center;
}

.sub button{
          font-size: 1.8em;
            background-color: #E8DEF8;
}
