#modal-content:has(.checkin-form-container){
    width: 45%;
    height:70vh;
            box-shadow: 7px 9px #350079;

}

.checkin-form-container{
 width: 90%;
  padding: 5%;
 perspective: 1000px;
    display: flex;
    flex-direction: column;
}

.checkin-form-container h2{
 font-size: 2em;
 text-align: center;
}

/* carousel */
.habit-steps-container {
    width: 100%;
  height: 100%;
  /* position: absolute; */
  transform-style: preserve-3d;
  /* next two lines made horizantal scroll (before switched to carousel) */
  /* overflow-x: auto;
  white-space: nowrap; */
display: flex;
  justify-content: center;
  align-content: center;
}

/* card */
.checkin-step {
    display: block;
  position: absolute;
  margin:20px;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 20px;
  background-color: #f9f9f9;
    /* width: 186px;
  height: 116px; */
   /* transform-origin: center center; */
  transition: transform 1s ease, opacity 0.8s ease;
  opacity: 0.8;
  z-index:2;
}

.checkin-step.current {
  z-index: 5;
  opacity: 1;
}

.desc{
        display: flex;
        justify-content: center;
    align-items: center;
}

.checkin-options{
        display: flex;
          flex-direction: column;
}

.checkin-options button{
          margin: 3%;
}

.sub{
         margin-top: 45vh;
               display: flex;
        justify-content: center;

}

.sub button{
          font-size: 1.5em;
}
