/* .routine-tile{
    transition: box-shadow 0.3s ease-in-out;
} */

.routine-img{
height: 175px;
width: 250px;
border-radius: 4px;
object-fit: cover;
}

.userprof button {
  font-family: bobbyJones, Animatic SC, Helvetica cursive;
  font-size: 17px;
  width:170px;
  height: 60px;
    color: white;
    background-color: #680416;
     box-shadow:5px 6px #E8DEF8;
       /* box-shadow:6px 8px #F8F3FF; */
}

.userprof h1{
    font-size: 40px;
}
/* .habbit-bubble{

} */


  /* font-family: Jost, Futura, Helvetica, Arial, sans-serif;
  font-family: bobbyJones, Animatic SC, Helvetica cursive; */
