.userprof{
    overflow-x:hidden;
}
.userprof button {
  font-family: bobbyJones, Animatic SC, Helvetica cursive;
  font-size: 1.3em;
  width:170px;
  height: 60px;
    color: white;
    background-color: #680416;
     box-shadow:5px 6px #E8DEF8;
}

.usersec1{
    position: relative;
    z-index:3;
    margin: 4% 6% 0 6%;
}
.userprof h1{
    font-size: 3em;
    margin-bottom:0;
}
.userprof h3{
margin-top: 15px;
   font-size: 1.3em;
}

@media (min-width: 1800px) {
.userprof h1{
    font-size: 4.5em;
    margin-bottom:0;
}
.userprof h3{
margin-top: 15px;
   font-size: 2em;
}
}
.userprof button{
margin-top: 20px;
cursor:pointer
}
.userprof button:hover{
    box-shadow:  5px 6px#CDAEFF
}

.wave-2{
margin-top: -120px;
margin-left: -20px;
z-index: 2;
width: 110vw;
overflow:hidden;
justify-content: center;
}

@media (max-width: 1024px) {
    .wave-2{
margin-top: -50px;
}
}

/* @media (max-width: 666px) {
    .wave-2{
margin-top: -20px;
}
} */
@media (max-width: 666px) {
    .wave-2{
margin-top: 0
}
}

.usersec2{
    z-index:-1;
    margin: -70px 85px 0px 85px;
}
@media (max-width: 675px) {
.usersec2{
    margin: 0px 85px 0px 85px;
}
}

.routine-progress {
  width: 100%;
  align-items: center;
  text-align: center;
  margin-top: 8%;
  margin-bottom: 130px;
}

.routine-progress h1{
    margin-top: 0;
    font-size: 3em;
}
@media (max-width: 479px) {
.routine-progress h1{
    margin-top: 0;
    font-size: 2em;
}
}
 .biggish{
    margin-top: 3%
 }

.habitbadges{
    display: flex;
    justify-content: center;
      align-items: center;
    font-size: 2em;
}

.streak-number{
 color: white;
font-family: Jost, Futura, Helvetica, Arial, sans-serif;
    font-size: .7em;
}

.fa-star {
 color: #CDAEFF;
}
/* .shield { */
.fa-heart{
color: #E3A72F;
}
.fa-certificate {
color: #058789;
}
.fa-fire{
      color:#D54B1A;
}


.usersec3{
    justify-content: center;
    text-align: center;
    margin-bottom:5%;
}

.routine-section{
    margin:40px;
    display: grid;
        grid-template-columns: 1fr 1fr;
}
.routine-tile{
        margin:40px 0 40px auto;
    width: 500px;
    /* background-color: #680416; */
    border-radius:20px;
    box-shadow:5px 6px #E8DEF8;
    padding-top: 60px;
}

@media (max-width: 1024px) {
    .routine-tile{
        width: 300px;
    }
}

@media (max-width: 768px) {
    .routine-tile{
             margin:40px -30px 40px auto;
    }
}


.routine-tile img{
height: 175px;
width: 250px;
border-radius: 20px;
object-fit: cover;
margin-left:12px;
}
.routine-tile h1{
font-size:30px;
display:flex;
justify-content: center;
}

.habittext {
        margin-bottom: 80px;
}

.routine-buttons{
    display:flex;
    flex-direction: column;
    margin:160px 80px 40px 80px;
}
.routine-buttons button{
    margin:20px;
}

@media (max-width: 580px) {
.routine-section{
    margin: auto;
    display: flex;
    flex-direction: column;
      justify-content: center;
      align-items: center;
}
.usersec3 h1{
    margin-bottom:13%;
}
    .routine-tile{
             margin: auto;
    }
.routine-buttons{
    display:flex;
    flex-direction: row;
    margin:6% 0 15% 0;
}
.routine-buttons button{
   width:100px;
   margin: 5px;
   font-size: 1em;
}
}

.bubble{
    background-color: white;
    border-radius:20px;
    width: 80%;
    margin: auto;
}
.bubble p{
    margin:20px;
}


  /* font-family: Jost, Futura, Helvetica, Arial, sans-serif;
  font-family: bobbyJones, Animatic SC, Helvetica cursive; */
