/* .routine-tile{
    transition: box-shadow 0.3s ease-in-out;
} */

.userprof button {
  font-family: bobbyJones, Animatic SC, Helvetica cursive;
  font-size: 18px;
  width:170px;
  height: 60px;
    color: white;
    background-color: #680416;
     box-shadow:5px 6px #E8DEF8;
       /* box-shadow:6px 8px #F8F3FF; */
}

.usersec1{
    position: relative;
    z-index:2;
    margin: 60px 85px 0 85px;
}
.userprof h1{
    font-size: 45px;
    margin: 60px 0 10px 0;
}

.wave-2{
margin-top: -40px;
z-index: 8;
}

.usersec2{
    z-index:2;
    margin: -100px 85px 0px 85px;
}


.routine-progress {
  width: 80%;
  margin: auto;
  text-align: left;
}

.routine-progress h1{
    font-size: 1.7em;
}

.habitbadges{
    display: flex;
    font-size: 2em;
}

.streak-number{
 color: white;
font-family: Jost, Futura, Helvetica, Arial, sans-serif;
    font-size: .7em;
}

.fa-star {
 color: #CDAEFF;
}

/* .shield { */
.fa-heart{
color: #E3A72F;
}

.fa-certificate {
color: #058789;
}

.fa-fire{
      color:#D54B1A;
}




.routine-section{
    margin:40px;
    display: grid;
        grid-template-columns: 1fr 1fr;
}
.routine-tile{
    width: 500px;
    /* background-color: #680416; */
    border-radius:20px;
    box-shadow:5px 6px #E8DEF8;
}

.routine-img{
          margin-top: 20px;
    width: 80%;
    display: column;
    /* justify-content: center;
    align-items: center; */
}
.routine-tile img{
height: 175px;
width: 250px;
border-radius: 20px;
object-fit: cover;
    margin: 40px 125px 0 125px;
}
.routine-tile h1{
font-size:30px;
    margin: 40px 80px 40px 80px;
}

.habittext {
        margin-bottom: 80px;
}

.routine-buttons{
    display:flex;
    flex-direction: column;
    margin:160px 80px 40px 80px;
}
.routine-buttons button{
    margin:20px;
}
.bubble{
    background-color: white;
    border-radius:20px;
    width: 80%;
    margin: auto;
}
.bubble p{
    margin:20px;
}


  /* font-family: Jost, Futura, Helvetica, Arial, sans-serif;
  font-family: bobbyJones, Animatic SC, Helvetica cursive; */
