/* .blue
    color:#058789;
.orange
    color:#D54B1A;
.yellow
    color: #E3A72F;
  burgundy
  #680416;
    */
/* .community-container{
    width: 70%;
    margin: auto;
} */
.community-container:not(.waveee) {
      width: 70%;
    margin: auto;
}

.waveee{
width: 110vw;
overflow:hidden;
margin-top: -20%;
margin-left: -10%;
z-index: 3;
justify-content: center;
}

.feed{
  width: 90%;
  margin: 4% 0 0 0;
  text-align: right;
 display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
  z-index: 5;
  font-size: 3vw;
}

.feed h2{
  max-width: 30ch;
  margin:0 0 0 auto;
 display: flex;
  justify-content: flex-end;
  white-space: nowrap;
}

.write-community{
    width: 90%;
 display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 5;
  font-size: 2.5vw;
  color:   #680416;
  /* cursor: pointer; */
  }

  .write-community button{
  /* color:   #680416; */
  cursor: pointer;
    background-color:white;
    padding:0
  }

  .pencil-community{
  color:   #680416;
  /* background-color:white; */
  }

.topic-button {
  font-size:1em;
  display: inline-block;
  padding: 8px 16px;
  margin: 3px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}

.topic-button.chosen {
  box-shadow: 4px 6px #058789;
}

.post-tile{
       /* box-shadow: 7px 9px #350079; */
       box-shadow: 9px 11px #E3A72F;
       margin: 70px;
       padding:30px;
       border-radius: 20px;
}

@media (max-width: 620px) {
/* .home-posts-container{
    width: 90%;
} */
.post-tile{
       margin: 20px;
}
}
@media (max-width: 440px) {
.post-tile{
       margin: 20px auto;
       width: 260px;
              padding:20px;
}
}
@media (max-width: 340px) {
.post-tile{
              padding:10px;
}
}

.post-img{
 height: 195px;
 width: 255px;
 border-radius: 20px;
   object-fit: cover;
}

/* .post-content{

} */
.postrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
 background-color: white;
 border-radius: 25px;
text-align: center;
margin-bottom: 10px;
}

.postrow button{
 background-color: white;
}

.topics-container-one-row{
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.topics-container-one-row button{
flex-basis: 10%;
margin: 1%;
  padding: 0;
  position: relative;
  overflow: hidden;
  border: none;
  background: none;
  cursor: pointer;
}
.topics-container-one-row img{
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
}
@media (max-width: 900px) {
  /* .topics-container-one-row {
    flex-direction: column;
  } */
  .topics-container-one-row button {
    flex-basis: 20%;
  }
}

.checkitouttt{
  margin-top:40px;
}
.community-habits-container {
  display: flex;
  overflow-x: auto;
  /* white-space: nowrap; */
  padding: 16px;
  margin-bottom:40px;
}

.habitcard {
  flex: 0 0 auto;
  margin-right: 16px;
  border: 1px solid #F8F3FF;
  border-radius: 10px;
}


.habitcard .desc {
  padding: 8px;
}

.habitcard .routine-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.routine-button {
  box-shadow: 4px 6px#E8DEF8;
  background-color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 15px;
  margin: 10px 4px;
}

.routine-button button:hover{
  box-shadow: 4px 6px #CDAEFF
}
