.posts-container{
    width: 80%;
    margin: auto;
}

.post-tile{
       box-shadow: 7px 9px #350079;
       margin: 70px;
       padding:30px;
       border-radius: 20px;
}

/* .post-user{

} */

.post-img{
 height: 195px;
 width: 255px;
 border-radius: 20px;
   object-fit: cover;
}

/* .post-content{

} */
